{% extends "base.html" %}


{% block content %}
<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="{% url 'home' %}" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">You have {{ cart }} items in your cart</p>
                    </div>
                  </div>

                    {% for product in goods %}
                        <div class="card mb-3">
                            <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                <div>
                                    <img
                                    src="{{ product.image.url }}"
                                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                </div>
                                <div class="ms-3">
                                    <h5>{{ product.name }}</h5>
                                
                                </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                <div style="width: 50px;">
                                    <h5 class="fw-normal mb-0">{{ product.quantity}}</h5>
                                </div>
                                <div style="width: 80px;">
                                    <h5 class="mb-0">{{ product.total_price }}</h5>
                                </div>
                                </div>
                                <form action="{% url 'cart_remove' product.id %}" method="post">
                                    <button type="submit" style="color: #cecece;" class="fas fa-trash-alt"> </button>
                                    {% csrf_token %}
                                  </form>
                            </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
              </div>
            </div>
          </div>
          {% if cart > 0 %}
            <a href="{% url 'order_create' %}" class="btn btn-dark btn-block btn-lg">Купить</a>
          {% endif %}
        </div>
      </div>

    </div>
  </section>
{% endblock content %}
