{% extends "base.html" %}
{% load social_tags %}


{% block content %}
<div class="container">
    <div class="row">
        {% for goods in object_list %}
        <div class="col-sm-3 mb-3">
            <div class="card h-100 d-flex flex-column">
                <img src="{{ goods.image.url }}" style="width: 160px; height: 160px;" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ goods.name }}</h5>
                    <p class="card-text">{{ goods.description }}</p>
                    <p class="card-text">${{ goods.price }}</p>
                    <a href="{{ goods.get_absolute_url }}" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock%}