{% extends "base.html" %}

{% block head %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=f07f2390-0d8b-41dd-b580-662b3692781c&lang=ru_RU" type="text/javascript"></script>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <h1>Информация о компании</h1>
            <div id="map" style="width: 100%; height: 500px; margin: 0 auto;"></div>
        </div>
    </div>
</div>



<script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [56.01291, 92.86630],
            zoom: 11,
            controls: ['zoomControl', 'typeSelector'],
        });

        {% for location in locations %}
            var placemark = new ymaps.Placemark([{{ location.latitude|stringformat:"g" }} , {{ location.longitude|stringformat:"g" }}], {
                hintContent: '{{ location.name }}',
            });
            myMap.geoObjects.add(placemark);
        {% endfor %}
    }
</script>
{% endblock content %}
